*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #eee;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
section.banner-section {
    background-image: url(../images/bg.jpeg);
    padding: 136px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
}
section.banner-section h1 {
    text-align: center;
    font-size: 118px;
    text-transform: uppercase;
    border: 1px solid #ffffff80;
    background: #141a2a4a;
    color: #fff;
    padding: 70px 12px;
}
.brand{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.brand span{
    color: crimson;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
    margin-top: 15px;
}
nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
/* Search bar*/
input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url(../images/search.png);
    background-size: 27px;
    background-position: 6px 9px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 2px;
    opacity: 0.5;
}
/*Hover style*/
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s ;
}
nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}
@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}

/*About section*/
body{
    margin: 0;
    padding-bottom: 10rem;
    background: url(../images/bg5.jpeg) center no-repeat;
    background-size: cover;
}
.about {
    margin: 0;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}
.about span{
    color: crimson;
}
section.about-section {
    padding: 7px 0 208px;
    background: #ab7c8014;
}
h2.title {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
}
.about-div-left{
    width: 50%;
    font-size: 17px;
    text-align: justify;
    display: inline-block;
}
.about-div-right{
    width: auto;
    float: right;
    clear: both;
}
img {
    width: 98%;
    height: 531px;
    margin-right: 6%;
}
a.button{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 10px;
    float: right;
    padding: 13px 19px;
    border: 1px solid #887878;
    border-radius: 23px;
    color: #ffffff;
    background: crimson;
}
a.button:hover{
    background: #fa4453;
    color: white;
}
/*end*/
button{
    border-color: black;
    font-weight: lighter;
    background: none;
    color: rgba(255, 255, 255, 0.596);
    font-size: 12px;
    height: 32px;
    width: 100px;
    border-radius: 20px;
    transition: 0.3s;
}
button:hover{
    background: rgba(119, 117, 117, 0.473);
    color: white;
}
.about h1{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    border: 1px solid #ffffff23;
    background: #141a2a28;
    color: rgba(233, 218, 218, 0.705);
    
}

/*service-section*/

section.service-section {
    padding: 56px 0 42px;
    color: white;
}
.service-section-div {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 29px;
}
.title span{
    color: crimson;
}
.service-section-div i.service-icon {
    font-size: 127px;
}
i.fas.fa-american-sign-language-interpreting {
    color: #1063ab;
}
i.fas.fa-ambulance {
    color: #bf1c00;
}
i.fab.fa-adobe {
    color: #15635c;
}
a.service-button {
    text-decoration: none;
    color: crimson;
}
a.service-button:hover {
    color: #fa4453;
}
i.fas.fa-arrow-right {
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
    color: #e54a20;
}
footer{
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 20px;
    background: rgba(196, 183, 183, 0.418);
}